.address {
  font-style: normal;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    width: 160px;
    align-items: center;
    height: 40px;
  }
  @media screen and (min-width: 1200px) {
    min-width: 340px;
    justify-content: space-between;
  }
}
.address__email {
  cursor: pointer;
  transition: 200ms linear;
  font-size: 20px;
  font-weight: 500;
  font-family: $main-font;
  color: #757575;
  display: inline-block;
  margin-bottom: 64px;
  position: relative;
  @media (min-width: 480px) {
    font-size: 24px;
  }
  @media screen and (min-width: 768px) {
    font-size: 12px;
    margin-bottom: 10px;
    &::before {
      content: "";
      display: block;
      width: 20px;
      height: 20px;
      background-repeat: no-repeat;
      background-image: url(../img/envelope.svg);
      position: absolute;
      left: -20px;
      top: 2px;
    }
    &:hover {
      color: $blue;
    }
  }
  @media screen and (min-width: 1200px) {
    margin: 0;
    font-size: 14px;
  }
}
.address__phone {
  transition: 200ms linear;
  display: inline-block;
  font-size: 28px;
  font-weight: 500;
  font-family: $main-font;
  color: $blue;
  margin-bottom: 32px;
  position: relative;
  @media (min-width: 480px) {
    font-size: 34px;
  }
  @media screen and (min-width: 768px) {
    font-size: 12px;
    color: #757575;
    margin: 0;
    order: 2;
    &::before {
      content: "";
      display: block;
      width: 20px;
      height: 20px;
      background-repeat: no-repeat;
      background-image: url(../img/phone.svg);
      position: absolute;
      left: -18px;
      top: 0px;
    }
    &:hover {
      color: $blue;
    }
  }
  @media screen and (min-width: 1200px) {
    font-size: 14px;
  }
}
.address__link {
  font-size: 16px;
  font-weight: 500;
  font-family: $main-font;
  display: inline-block;
  color: $blue;
  line-height: 22px;
  @media (min-width: 480px) {
    font-size: 18px;
  }
  &::after {
    content: "";
    display: inline-block;
    width: 2px;
    height: 22px;
    background-color: #2121212a;
    position: relative;
    top: 5px;
    left: 5px;
    @media (min-width: 480px) {
      left: 10px;
    }
  }
  &--last {
    position: relative;
    top: 3px;
  }
  &--last::after {
    display: none;
  }
}
.address__list {
  display: flex;
  justify-content: space-between;
  max-width: 300px;
  align-items: center;
  @media (min-width: 480px) {
    max-width: 360px;
  }
  @media (min-width: 768px) {
    display: none;
  }
}

.burger {
  margin: 0 auto;
}
.burger__item {
  align-items: center;
  display: block;
  height: 3px;
  width: 25px;
  background-color: $text-color;
  margin-bottom: 4px;
  transition: 200ms linear;
  &:nth-last-child() {
    margin-bottom: 0;
  }
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  width: 100vw;
  position: fixed;
  background-color: $white;
  top: 0;
  left: 0;
  z-index: 5;
  border-bottom: 1px solid $grey;
  @media screen and (min-width: 768px) {
    height: 80px;
  }
}
.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  width: 100vw;
  padding: 0 15px;
  @media screen and (min-width: 768px) {
    height: 80px;
    max-width: 1200px;
    margin: 0 auto;
  }
}
.header__burger {
  height: 40px;
  width: 40px;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:hover .burger__item {
    background-color: $blue;
  }
  @media (min-width: 768px) {
    display: none;
  }
}
ul {
  padding: 0;
}
.header__content-wrapper {
  padding: 20px;
  width: 100%;
  max-width: 480px;
  background-color: $white;
  position: absolute;
  top: 0;
  right: -150%;
  min-height: 100vh;
  z-index: 6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 200ms linear;
  @media (min-width: 480px) {
    padding: 48px;
  }
  @media (min-width: 768px) {
    padding: 0 5px 0 0;
    min-height: 100%;
    max-width: 500px;
    flex-direction: row;
    justify-content: space-between;
    position: static;
    background-color: transparent;
    align-items: center;
  }
  @media screen and (min-width: 1200px) {
    max-width: 950px;
  }
  &--active {
    right: 0;
  }
}
.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo__link {
  font-size: 24px;
  color: $text-color;
  font-family: $logo-font;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: 1px;
  span {
    color: $blue;
    margin-right: 3px;
  }
}
.menu__link {
  display: inline-block;
  line-height: 46px;
  font-size: 40px;
  font-weight: 500;
  font-family: $main-font;
  color: $text-color;
  transition: 200ms linear;
  margin-bottom: 35px;
  &:hover,
  &--active {
    color: $blue;
  }
  @media (min-width: 768px) {
    font-size: 14px;
    height: 100%;
    margin: 0;
    position: relative;
    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 4px;
      background-color: transparent;
      border-radius: 4px;
      transition: 200ms linear;
      position: absolute;
      bottom: -17px;
    }
    &:hover::after,
    &--active::after {
      background-color: $blue;
    }
  }
}

.menu__list {
  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 254px;
  }
}
.address__close {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 21px;
  right: 21px;
  cursor: pointer;
  border-radius: 50%;
  padding: 7px;
  transition: 200ms linear;
  &:hover {
    fill: $blue;
    background-color: $grey;
  }
  @media (min-width: 768px) {
    display: none;
  }
}
